.menu-page {
  margin-top: 10px;
  padding: 20px;
  background-color: #fff;
  border: 0.5px solid #ececec;
  border-radius: 3px;
  &.menu-page__add {
    margin-left: 20px;
    float: right;
    padding-bottom: 10;
  }
}

.custom-tab {
  margin-left: 0;
  margin-right: 0;
  border-bottom: 2px solid rgba(0, 0, 0, 0.95);
  border-radius: 0;
  box-shadow: none;
  background: #fff;
  border: 1px solid rgba(34, 36, 38, 0.15); /* Cambia el color del texto de las pestañas */
}
.menu-list-container {
  margin-top: 20px; /* Ejemplo de margen superior */
  padding: 20px; /* Ejemplo de relleno en todas las direcciones */
  background-color: #ffffff; /* Cambiar el color de fondo si es necesario */
}

.MuiTabs-root {
  justify-content: flex-start; /* Alinea los labels hacia la izquierda */
}

.MuiTabs-root {
  .MuiTab-root {
    min-width: 0; /* Elimina el ancho mínimo de las pestañas */
    padding: 0 16px; /* Añade relleno a las pestañas */
   
    text-transform: capitalize;
    &:hover {
      color: #000000; /* Cambia el color del texto de las pestañas al pasar el ratón */
      font-weight: bold; /* Aplica negrita al texto */
    }
    &.Mui-selected {
      color: #000000; /* Cambia el color del texto de la pestaña activa */
      font-weight: bold; /* Aplica negrita al texto */
    }
  }
}
