.page-contactus {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/jpg/contact.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: 700px;
  width: 670px;
  height: 534px;
}
.pol-5 {
  width: 237px;
  height: 231px;
  flex-shrink: 0;
}
.pol-7 {
  width: 149px;
  height: 147px;
  flex-shrink: 0;
}
.pol-6 {
  width: 149px;
  height: 147px;
  top:349px;
  left: 377px;
}
