
.service-section {
  font-family: "Roboto Condensed", sans-serif;
  color: #fff;
  line-height: 24px;
  font-size: 16px;
  width: 100%;

  .section-content {
    position: relative;
    z-index: 999;
    opacity: 0;
    align-self: flex-end;
    width: 100%;
    transition: all 0.35s 0.1s ease-out;

    &.active {
      opacity: 1;
    }

    .inner {
      position: absolute;
      display: grid;
      grid-auto-flow: row;
      grid-template-columns: 1fr;
      grid-column-gap: 20px;
      align-items: flex-end;
      left: 0;
      bottom: 0;
      padding: 20px;
      opacity: 1;
      transition: opacity 0.25s ease-out;

      @media only screen and (min-width: 768px) {
        grid-auto-flow: column;
        grid-template-columns: calc(100% - 340px) 300px;
        grid-column-gap: 40px;
        padding: 40px;
      }

      @media only screen and (min-width: 1280px) {
        grid-auto-flow: column;
        grid-template-columns: 460px 200px;
        grid-column-gap: 40px;
        padding: 40px;
      }

      &.active {
        opacity: 1;
      }
    }
  }
  .bio {
    display: grid;
    grid-auto-flow: row;
    grid-template-rows: min-content;
    grid-gap: 24px;
  }

  ul {
    display: flex;
    min-height: 750px;
    height: 100vh;
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    width: 100%;
    min-width: 100%;
    flex-direction: column;

    @media only screen and (min-width: 1280px) {
      flex-direction: row;
    }
    li {
      flex: 1;
      display: flex;
      align-items: stretch;
      cursor: pointer;
      transition: all 0.35s ease;
      cursor: pointer;
      position: relative;
      background-size: cover;
      background-repeat: no-repeat;
      background-position: top center;
      overflow: hidden;

      &:before {
        content: "";
        position: absolute;
        z-index: 999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(31, 37, 42, 0.652);
      }

      &.active {
        flex: 6;
        cursor: default;

        &:before {
          background: linear-gradient(
            180deg,
            rgb(15 15 15 / 16%) 0%,
            #2f2626 100%
          );
        }
      }
    }
  }

  h2 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
    text-transform: uppercase;

    @media only screen and (min-width: 768px) {
      font-size: 48px;
      line-height: 48px;
    }

    @media only screen and (min-width: 1280px) {
      font-size: 64px;
      line-height: 64px;
    }
  }

  h3 {
    font-weight: bold;
    white-space: nowrap;
    position: absolute;
    z-index: 999;
    opacity: 1;
    top: 50%;
    left: 50%;
    transition: top 0.35s, opacity 0.15s;
    transform-origin: 0 0;
    font-size: 24px;
    text-transform: uppercase;
    transform: translate(-50%, -50%) rotate(0deg);

    @media only screen and (min-width: 1280px) {
      top: 100%;
      left: 50%;
      font-size: 32px;
      transform: translate(-20px, -50%) rotate(-90deg);
    }

    .active & {
      opacity: 0;
      top: 200%;
    }
  }
}
.button-container {
  text-align: center;
  .prev-button {
    background-color: #007bff94;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    &:hover {
      background-color: #938a4972;
    }
  }

  .next-button {
    background-color: #007bff94;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    &:hover {
      background-color: #994b4b80;
    }
  }

  .next-button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }
}

.codigo-qr {
  max-width: 100px; 
  max-height: 100px; 
  width: auto; 
  height: auto;
}

#section2 > div > ul > li.artist-item.active > div > div > div > div > div > div > button > div > div{
  margin: 0;
    font-family: "Roboto","Helvetica","Arial",sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.334;
    letter-spacing: 0em;
    margin-bottom: 0.35em;
}