/* SliderMenu.css */
.slider-menu-services {

  width: 100%;
  padding: 15px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  height: auto;
  background-color: rgb(34 36 38 / 0%);
  border-radius: 3px;
  /* left: 130px; */
  transition: left 0.3s ease-in-out;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: nowrap;
  .icon-menu-services{
    display: none;
  }
}

.ul-menu-services {
  list-style: none;
  background-color: rgb(0 0 0 / 45%);
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
  border-radius: 10px;
}

.ul-menu-services li {
  margin: 0.2rem !important;
  padding: 0.4em !important;
  font-weight: 400 !important;
  letter-spacing: 1px !important;
  color: #fff !important;
  text-decoration: none !important;
  transition: all 0.3s ease-in-out !important;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 10px;
  cursor: pointer;
  border-bottom: 2px solid transparent; /* Agrega un borde inferior transparente */
}

/* Cambiar el color y el borde inferior en hover */
.ul-menu-services li:hover {
  color: #56c2d3; /* Cambia el color al pasar el mouse */
  border-bottom: 2px solid #c36a3a; /* Añade un borde inferior al pasar el mouse */
}

/* Cambiar el color y el borde inferior al hacer clic */
.ul-menu-services li:active {
  color: #ffca28; /* Cambia el color al hacer clic */
  border-bottom: 2px solid #ffca28; /* Añade un borde inferior al hacer clic */
}

/* Estilo para la opción seleccionada */
.ul-menu-services li.selected {
  color: #ffca28; /* Cambia el color de la opción seleccionada */
  border-bottom: 2px solid #ffca28; /* Añade un borde inferior a la opción seleccionada */
}

.menu-toggle-services {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  padding: 10px;
  font-size: 24px;
  border-bottom: 1px solid #444;
}

.icon-menu-services {
  margin-right: 10px;
}

.text-menu-services {
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #fdfdfd;
  text-decoration: none;
}
@media (max-width: 815px) {
  .slider-menu-services .ul-menu-services li span {
    display: none; /* Oculta el texto dentro de los elementos li */
  }
  .slider-menu-services .ul-menu-services li .icon-menu-services {
    display: inline-block; /* Muestra los iconos dentro de los elementos li */
  }
}
