.content-section-services {
  font-family: Arial, Verdana, Sans-serif;

  .card {
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 350px;
    height: 450px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 20px;
    overflow: hidden;
    background-color: #fff;
    transition: box-shadow 0.3s ease;
    .card-header {
      display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-between;
      align-items: center;
    }
    &:hover {
      box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    }

    .card-header {
      padding: 10px 20px;
      background-color: rgba(223, 223, 223, 0.6588235294);
      border-bottom: 1px solid #fcfcfc;
      height: 65px;

      h2 {
        margin: 0;
        font-size: 12px;
        color: #333;
        text-transform: uppercase;
        font-weight: 600;
        
      }
    }

    .card-body {
      padding: 10px 30px;
      height: 400px;

      p {
        margin: 0;
        color: #555;
      }
    }

    .service-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 5px;
      flex-wrap: wrap;
      align-content: center;
      background-color: transparent;
      width: 40%;
      .whatsapp-button,
      .call-button,
      .email-button {
        border: none;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 14px;
        cursor: pointer;
        border-radius: 5px;

        img {
          max-width: 20px;
          margin-right: 5px;
        }
      }
      .whatsapp-button:hover {
        background-color: #4caf50;
      }

      .call-button:hover {
        background-color: #008cba;
      }

      .email-button:hover {
        background-color: #f44336;
      }
    }

    .slick-slider {
      margin: 7px;
      border-radius: 5px;
      .slick-prev,
      .slick-next {
        font-size: 24px;
        color: #333;
      }

      .slick-prev {
        left: -30px;
      }

      .slick-next {
        right: -30px;
      }

      .slick-dots {
        bottom: -40px;
        li {
          margin: 0 5px;

          button {
            font-size: 12px;
            border-radius: 50%;
            width: 10px;
            height: 10px;

            &.slick-active {
              background-color: #333;
            }
          }
        }
      }
    }

    .card-footer {
      padding: 10px 15px;
      background-color: #5c5c5c94;
      border-top: 1px solid #ddd;
      display: flex;
      justify-content: space-between;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      bottom: 0px;
      position: sticky;
      button{
        background-color: #7750509c;
        color: #fff;
        border: none;
        border-radius: 5px;
        padding: 5px 10px;
        margin: 5px;
        cursor: pointer;
        font-size: 12px;
        font-weight: 600;
        text-transform: uppercase;
        button:hover{
          background-color: #421f1f9c;
        }
      }
      
    }
  }

  .title-service {
    h1 {
      font-family: Arial, Verdana, Sans-serif;
      left: 50%;
      text-transform: uppercase;
      padding-top: 10px;
    }

    h1 strong {
      font-family: Arial Black, Verdana, Sans-serif;
    }
  }

  .container {
    width: 960px;
    margin: 0 auto;
  }

  h1 {
    color: rgba(0, 0, 0, 0.95);
    font-weight: 500;
    text-align: center;
    margin: 20px 0;
  }

  .tabs {
    display: flex;
    background-color: black;
    justify-content: center;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    align-items: center;
    border-radius: 60px;
  }

  .tabs button {
    background-color: lightgray;
    border: none;
    color: #888888;
    cursor: pointer;
    padding: 16px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.1);
    transition: all 0.5s ease-out;
  }

  .tabs button:hover {
    color: white;
    background-color: rgba(255, 255, 255, 0.15);
  }

  .tabs button:disabled {
    background: linear-gradient(
      245.39deg,
      rgb(81 72 10 / 77%) -35.14%,
      #adacba 143.06%
    );
    color: white;
    border-radius: 60px;
  }

  .title {
    color: black;
    font-size: medium;
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 600;
  }

  .content {
    padding: 50px 80px;
    background-color: white;
    font-weight: 300;
    line-height: 30px;
    font-size: 16px;
    text-align: justify;
  }

  .content,
  button {
    font-size: 15px;
  }

  @media only screen and (max-width: 960px) {
    .container {
      width: 100%;
    }

    .content {
      padding: 50px;
    }
  }
}

.service-item {
  width: 300px;
  margin: 20px;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  &:hover {
    transform: scale(1.05);
  }

  .service-item__image {
    position: relative;
    img {
      width: 100%;
      height: auto;
      border-radius: 5px;
    }
  }

  .service-item__details {
    margin-top: 10px;

    h2 {
      font-size: 11px;
      margin-bottom: 8px;
    }

    p {
      font-size: 11px;
      color: #666;
    }
  }
}

.AllowBtn,
.NotnowBtn {
  background-color: #7750509c;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.NotnowBtn {
  background-color: #94898978;
  color: #1b0101;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin: 5px;
  cursor: pointer;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase;
}

.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  opacity: 0.75;
  color: rgba(0, 0, 0, 0.95) !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
