@import "~/src/scss/variables.scss";
@import "~/src/scss/colors.scss";

.profile-menu-container {
  box-sizing: border-box;

  .avatar-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    width: 60px;
    height: 60px;

    img {
      box-shadow: 0 0 5px 5px rgba(255, 255, 255, 0.5);
      border-radius: 50%;
      width: 71%;
      height: 71%;
    }
  }

  position: relative;

  .dropdown-menu {
    // min-width: max-content !important;
    span {
      display: inline-block;
      text-align: center;
      cursor: pointer;
      width: 100%;
      font-size: 12px;
      font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .menu {
      top: 45px !important;
      right: 10px !important;
    }
  }

  .profile-option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    cursor: default;
    width: 100%;
    font-size: 11px;
    font-family: $font-family;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);

    span {
      display: flex;
      align-items: center;
    }

    .user-item__image {
      border: 1px black solid;
      width: 50px;
      height: 50px;
    }
  }
}
