/* UserItem.scss */
.user-item {
  display: flex;
  align-items: center;
  padding: 10px 0 10px 10px;
  border-bottom: 1px solid #dddddd;
  cursor: pointer;
  transition: all 0.3s ease-in-out;

  &.active {
    background-color: #ffffff;
    padding: 10px 5px 5px 10px;

    .user-item__info {
      opacity: 1;
      margin: 0;

      .user-basic-info {
        width: 500px;

        > p {
          color: #272727;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 12px;
          margin: 0;
        }

        .user-item__details {
          font-size: 12px;
          font-family: Arial, Helvetica, sans-serif;
          color: #4a4a4a;
        }
      }
    }

    .user-item__image img {
      border-color: green;
    }
  }

  &.inactive {
    background-color: #ffffff;
    padding: 10px 5px 5px 10px;

    .user-item__info {
      opacity: 1;
      margin: 0;

      .user-basic-info {
        width: 500px;

        > p {
          color: #272727;
          font-family: Arial, Helvetica, sans-serif;
          font-size: 12px;
          margin: 0;
        }

        .user-item__details {
          font-size: 12px;
          font-family: Arial, Helvetica, sans-serif;
          color: #4a4a4a;
        }
      }
    }

    .user-item__image img {
      border-color: red;
    }
  }

  &:hover {
    background-color: #d4d4d4;
  }

  .user-item__info {
    display: flex;
    align-items: center;
    gap: 20px;
    text-align: left;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    user-select: none;
    opacity: 1;
    margin: 0;
  }

  .user-item__image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    padding: 2px;
    border: 2px solid rgb(8, 163, 60);
  }

  .user-basic-info {
    width: 500px;

    > p {
      color: #272727;
      font-family: Arial, Helvetica, sans-serif;
      font-size: 12px;
      margin: 0;
    }

    .user-item__details {
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      color: #4a4a4a;
    }
  }

  .user-item__name {
    font-size: 14px;
    font-weight: 600;
    color: #4a4a4a;
  }

  .user-item__buttons {
    display: flex;
    padding-left: 2px;
    align-items: center;
  }

  .ui.button {
    display: flex;
    gap: 5px;

    .icon {
      font-size: 14px;
      margin-right: 0;
    }
  }
}

.ui.primary.button,
.ui.primary.buttons .button {
  color: rgba(0, 0, 0, 0.95);
  text-shadow: none;
  background-image: none;
}

.ui.orange.button,
.ui.orange.buttons .button {
  color: rgba(0, 0, 0, 0.95);
  text-shadow: none;
  background-image: none;
}

.ui.red.button,
.ui.red.buttons .button {
  color: rgba(0, 0, 0, 0.95);
  text-shadow: none;
  background-image: none;
}
