.footer {
  position: relative;
  width: 100%;
  background-color: rgb(218, 218, 218);
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: center;
  align-items: center;
  .footer__item-inf {
    p {
      margin: 0;
      font-size: 12px;
      font-family: Arial, Helvetica, sans-serif;
      color: #000;
    }
  }
  .footer__item-icon {
    width: 50px;
    .footer__icon-img-large {
      width: 25px; /* Ancho de la imagen */
      height: 25px; /* Alto de la imagen */
    }
  }
  .footer__item-icon:hover {
    transform: scale(1.1);
    opacity: 0.8;
  }
  .footer__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    justify-content: center;

    ul {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      padding: 0;
      margin: 0;
    }

    h3 {
      margin: 0;
      font-size: 13px;
      color: #000;
      font-family: Arial, Helvetica, sans-serif;
    }

    a {
      font-family: Arial, Helvetica, sans-serif;
      text-decoration: none;
      color: #000000;
      font-size: 11px;
    }

    li {
      list-style: none;
      width: 20px;
      a {
        text-decoration: none;
        color: #000000;
      }
    }

    .footer__icon {
      font-size: 20px;
      color: #000;
    }
    .footer__text {
      font-size: 12px;
      color: #000;
    }
  }

  .footer__item-sennovalab {
    width: 20%;
    padding: 0;
    color: #000;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    h3 {
      font-size: 11px;
      font-weight: 550;
      color: #000;
      font-family: Arial, Helvetica, sans-serif;
      margin: 0;
      bottom: 5px;
      right: 30px;
      padding: 0;
      position: fixed;
    }
    img {
      height: 135px;
      padding: 0;
      margin: 0;
    }
  }
}
// ocultar en pantallas pequeñas
@media (max-width: 768px) {
  .footer__item-copyright {
    display: none;
  }
}

.privacy-policy-container {
  position: relative;
  top: 80px;
  max-width: 80%;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.privacy-policy-container div {
  margin-bottom: 20px;
}

.privacy-policy-container h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}
.privacy-policy-container p {
  font-size: 12px;
}

.privacy-policy-container .definitions {
  font-weight: bold;
  margin-top: 10px;
}

.privacy-policy-container .definitions div {
  margin-top: 10px;
}

.privacy-policy-container .definitions div:first-child {
  margin-top: 0;
}

@media (max-width: 767px) {
  .tabs-privacypolicy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto; // Permite el desplazamiento horizontal si los tabs no caben en el contenedor
    white-space: nowrap;
    flex-direction: row; // Vuelve a la dirección horizontal para que los tabs se desplacen horizontalmente
  }
  .privacy-policy-container {
    position: relative;
    top: 80px;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 480px) {
  .privacy-policy-container {
    position: relative;
    top: 80px;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  // Estilos específicos para dispositivos con un ancho máximo de 480px
  .tabs-privacypolicy {
    margin-bottom: 15px;
    padding-left: 5px;
    margin-left: 5px;
    .option-tab-pribacypolicy {
      margin-left: 5px;
    }
  }
  .tabs-privacypolicy.css-1ujnqem-MuiTabs-root > div > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    white-space: nowrap;
    flex-direction: row;
    .option-tab-pribacypolicy {
      margin-left: 5px;
    }
  }
}
