/* Footer.scss */

.footer {
  background-color: #232323ed;
  color: white;
  padding: 30px 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.footer__item {
  margin: 0 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  flex-wrap: wrap;
}

.footer__item h3 {
  font-size: 12px;
  color: currentColor;
}

.footer__item-inf a {
  color: white;
  text-decoration: none;
  display: block;
  margin-bottom: 10px;
  font-size: 13px;
}

.btn {
  // background-color: #4caf50;
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  border-radius: 5px;
  display: inline-block;
  transition: background-color 0.3s ease;
}

.btn:hover {
  color: #b65241;
}

.footer__item-sennovalab {
  display: flex;
  align-items: center;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
}

/* Estilos para los enlaces */
.footer__item a {
  color: #9c9c9c;
  font-size: 11px;
  text-decoration: none;
  padding: 0;
  margin: 0;
  .footer__item-sennovalab {
    margin-top: 10px;
    img {
      width: 100px;
      height: 100px;
      margin: 0;
      padding: 0;
      border-radius: 50%;
      border: 1px solid #fff;
      transition: all 0.3s ease;
      &:hover {
        transform: scale(1.1);
        box-shadow: 0 0 0.5em rgba(45, 39, 39, 0.9);
      }
    }
  }
}

.footer__item a:hover {
  text-decoration: underline;
}

.footer__item-copyright h3 {
  font-size: 11px;
  margin: 0;
  font-weight: 600;
}

// ocultar en pantallas pequeñas
@media (max-width: 768px) {
  .footer__item-copyright {
    display: none;
  }
}

.privacy-policy-container {
  position: relative;
  top: 80px;
  max-width: 80%;
  color: black;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.css-tkn350-MuiTabs-root {
  padding-bottom: 40px;
}
.privacy-policy-container h2 {
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}
.privacy-policy-container p {
  font-size: 12px;
}

.privacy-policy-container .definitions {
  font-weight: bold;
  margin-top: 10px;
}

.privacy-policy-container .definitions div {
  margin-top: 10px;
}

.privacy-policy-container .definitions div:first-child {
  margin-top: 0;
}

@media (max-width: 767px) {
  .tabs-privacypolicy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    flex-direction: row;
    width: 100%;
  }
  .privacy-policy-container {
    position: relative;
    top: 80px;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
}

@media (max-width: 480px) {
  .privacy-policy-container {
    position: relative;
    top: 80px;
    max-width: 90%;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  // Estilos específicos para dispositivos con un ancho máximo de 480px
  .tabs-privacypolicy {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    white-space: nowrap;
    flex-direction: row;
    overflow: auto !important;

    .option-tab-pribacypolicy {
      margin-left: 5px;
    }
  }
}
