/* Añade estos estilos al archivo CertificationList.scss */

.certifications-list-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.certifications-list-form {
  flex: 1;
  margin-right: 20px; /* Espacio entre el formulario y las pestañas */
}

.certifications-list-form h2 {
  margin-bottom: 20px;
}

.card-create-certification {
  width: 100%;
}

.certification-form-fields {
  display: flex;
  flex-direction: column;
}

.certification-images-preview {
  display: flex;
  flex-wrap: wrap;
  margin-top: 10px;
}

.certification-image {
  width: 100px; /* Tamaño de las imágenes en la previsualización */
  height: 100px;
  margin: 5px;
  object-fit: cover;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.certifications-list-tabs {
  flex: 1;
}

.card-list-certification {
  width: 100%;
}

.custom-tab {
  width: 100%;
}
