@import "./scss/index.scss";
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --color-text: #efe5e5;
  --color-link: #efe5e5;
  --color-text-inverted: #b3ac99;
  --color-bg: #42423e;
  --color-text-preview: #fffaea;
  --color-title-preview: #eba089;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

body {
  background: transparent;
  // color: #fff;
  font-weight: 400;
  font-size: 1em;
}

.flex-dashboard {
  display: flex;
  height: inherit;
  border-radius: 0;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
  overflow: hidden auto;
  flex-direction: row;
  justify-content: stretch;

  .admin-menu-container {
    min-width: 90px;
    .admin-menu {
      width: 190px;
      display: flex;
      align-items: flex-start;
      justify-content: center;
      padding-left: 0;
      flex-direction: column;
      border-radius: 0;
      flex-wrap: wrap;
      align-content: center;
    }
    .slide-bar-panel {
      position: fixed;
      margin-left: 10px;
      top: 50%;
      left: 0;
      transform: translateY(-50%);
      background-color: #739cbd75;
      width: 50px;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      height: 60vh;
      z-index: 999;
      border-radius: 7px;

      .icon-panel.active {
        color: white;
      }

      @media only screen and (max-width: 880px) {
        display: flex;
      }

      &.show {
        display: flex;
      }
    }
  }
}

/* Estilos para dispositivos móviles */
@media only screen and (max-width: 880px) {
  // .admin-menu-container .admin-menu {
  //   display: none !important;
  // }
  .admin-menu-container .slide-bar-panel {
    position: fixed;
    margin-left: 10px;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    // background-color: rgba(126, 120, 175, 0.586);
    width: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 82vh;
    border-radius: 7px;
  }
}

.left-panel-small {
  width: 70px;
  transition: all 333ms;
}

.left-panel {
  min-width: 190px;
  width: 18%;
  transition: all 333ms;
  border-radius: 0;
}

.right-panel {
  width: 85%;
  background-color: #ffffffd4;
  h2,
  h4 {
    color: black;
  }

  .admin-layout__right-content {
    position: relative;
    padding: 0;
    border: none;
    border-radius: 0.25rem;
    box-shadow: 0 1px 3px 0 #d4d4d5, 0 0 0 1px #d4d4d5;
    margin-top: 10px;
    padding: 20px;
  }
}

.right-panel-big {
  width: calc(100% - 70px);
}

.scrollable-container {
  max-height: 400px;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollable-container::-webkit-scrollbar {
  display: none;
}
