/* SlideBarWebMenu.scss (o tu archivo de estilos preferido) */

.slide-bar {
  position: fixed;
  margin-left: 10px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  background-color: rgba(105, 143, 147, 0.51);
  width: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 50vh;
  z-index: 999;
  border-radius: 7px;

  .icon {
    font-size: 20px; /* Tamaño de icono */
    color: #000000; /* Color de icono */
    cursor: pointer; /* Cambia el cursor al pasar sobre el icono (opcional) */
    transition: background-color 0.3s; /* Agrega una transición suave al cambio de color de fondo (opcional) */
    padding: 10px; /* Espaciado interior del icono (opcional) */
  }

  .icon.active {
    background-color: #9c9a6374;  /* Cambia el color de fondo cuando está activo (opcional) */
    border-right: 4px solid #fff; /* Añade un indicador visual cuando está activo (opcional) */
  }
  .toggle-button {
    cursor: pointer;
    font-size: 11px;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    background-color: rgba(186, 18, 40, 0.4117647059);
    // padding: 10px;
    border-radius: 3px;
    width: 100%;
    text-align: center;
    border-bottom: #ffffffcf 2px solid;
    user-select: none;
  }
}
