.webmenu-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0;
}
.menu-toggle {
  display: none;
}

/* Estilos de la barra de navegación */
.webmenu-page__navbar {
  top: 10px;
  position: absolute;
  background-color: #1b1c1dcf;
  height: 50px;
  border-radius: 20px;
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-content: center;
  flex-wrap: wrap;
  z-index: 2;
  flex-direction: row;
  backdrop-filter: blur(10px) brightness(0.8);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  img {
    width: 55px;
    height: auto;
    display: block;
    border-radius: 3px;
    transition: transform 0.3s, opacity 0.3s;
    // top: 10px;
    position: relative;

    transition: transform 0.3s, opacity 0.3s;

    &:hover {
      opacity: 0.8;
      box-shadow: 0 0 10px rgba(220, 110, 96, 0.8); /* Agregamos la sombra */
      filter: brightness(0.7) saturate(40%);
      -webkit-filter: grayscale(rgba(171, 25, 6, 0.8));
    }
  }

  ul {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding: 0;
    margin: 0;
    justify-content: flex-start;
    flex-direction: row;
    align-content: center;
    flex-wrap: wrap;

    li {
      cursor: pointer;
      height: 100%;

      a {
        color: #fff;
        padding: 15px 10px;
        text-decoration: none;
        transition: background-color 0.3s ease;

        &:hover {
          color: #ffffff;
          font-weight: 500;
          border-bottom: #ffffff 2px solid;
          background-color: #9c9a6374; /* Cambiamos el fondo en hover */
        }
      }
    }
  }
}

.home {
  width: 100%;
  .section {
    width: 100%;
    padding: 5px 70px;
    background-color: #f0f0f0;
    overflow: hidden;
    text-align: center;
  }
}

// ------------------------------------------------------------
// Pantalla pequeña
@media (max-width: 780px) {
  .menu-closed .webmenu-page__navbar {
    display: none;
  }
  .webmenu-page {
    .menu-closed {

      .menu-toggle {
        display: flex;
        justify-content: flex-start;
      }
      ul {
        display: none;
      }
    }
    // .webmenu-page__navbar {
    //   display: none;
    //   img {
    //     width: 55px;
    //     height: auto;
    //     display: block;
    //     border-radius: 3px;
    //     transition: transform 0.3s, opacity 0.3s;
    //     position: relative;
    //     &:hover {
    //       opacity: 0.8;
    //       box-shadow: 0 0 10px rgba(220, 110, 96, 0.8); /* Agregamos la sombra */
    //       filter: brightness(0.7) saturate(40%);
    //       -webkit-filter: grayscale(rgba(171, 25, 6, 0.8));
    //     }
    //   }
    // }
    .home {
      width: 100%;
      #section1 {
        margin-top: 70px;
      }
    }
    .menu-toggle {
      left: 5px;
      top: 5px;
      position: fixed;
      cursor: pointer;
      background-color: #212121;
      border: 1px solid rgba(2, 11, 44, 0.79);
      color: #fff;
      padding: 10px 10px;
      margin-bottom: 10px;
      border-radius: 2px;
      z-index: 999;
      display: flex;
      align-items: center;
      justify-content: flex-start;
    }

    .menu-open {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      justify-content: center;

      .horizontal {
        display: flex;
        margin-top: 545px;
        z-index: 990;
        background-color: rgb(5 47 60 / 92%);
        color: #fff;
        cursor: pointer;
        transition: background-color 0.3s;
        padding: 10px;
        width: 100%;
        border-radius: 3px;
        flex-direction: column;
        /* align-content: center; */
        justify-content: center;
        align-items: center;
        border-block: #999 1px solid;

        li {
          cursor: pointer;
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          /* align-content: center; */
          flex-wrap: nowrap;
          border-bottom: rgb(255 255 255 / 42%) 1px solid;
          &:hover {
            color: #f2bb91;
            border-bottom: #711f1f 2px solid;
            background-color: #03192890;
            font-weight: 500;
            border-bottom: rgba(235, 192, 97, 0.67) b5b 1px solid;
            border-top: rgba(235, 192, 97, 0.67) b5b 1px solid;
            a {
              background-color: transparent;
              border-bottom: transparent;
            }
          }
        }
        .li-login-anchor {
          color: #f2bb91;
          margin: 0;
          position: relative;
          width: 80%;
          align-items: center;
          display: flex;
          background-color: rgba(3, 25, 40, 0.5647058824);
          align-items: center;
          flex-wrap: nowrap;
          justify-content: center;
          a {
            background-color: transparent;
            border-bottom: transparent;
          }
        }
      }
    }
  }
}
