
.dashboard-page{
  &.add-user-btn{
      margin-left: 20px;
      float: right;
  }
}

.dashboard-card {
  background-size: cover;
  background-position: center;
  border: none;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;

  &:hover {
    transform: translateY(-5px);
  }

  .card-title {
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  }

  .card-button {
    margin-top: 10px;
  }
}
