.web-certifications {
  display: flex;
  width: 85%;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;

  .content {
    .slide {
      width: 30%;
      height: auto;
      /* height: 500px; */
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.5s ease-in-out;
      flex-direction: column;
      h2 {
        font-size: 15px;
        color: #000000;
        margin: 0;
        align-items: center;
        align-content: center;
        .no-select {
          -webkit-user-select: none;
          user-select: none;
          text-transform: uppercase;
        }
      }
    }
  }

  .video-container {
    width: 70%;
    display: flex;
    margin-left: 10px;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;

    video {
      width: 100%;
      border-radius: 5px;
    }
    .video-container-imgs {
      width: 90%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      align-items: center;
      img {
        border-style: none;
        width: 130px;
        border-radius: 10px;
        margin: 5px;
        box-shadow: 0 0 0.5em rgba(45, 39, 39, 0.9);
        transition: all 0.3s ease-in-out;
        &:hover {
          cursor: pointer;
          transform: scale(1.1);
          box-shadow: 0 0 0.5em rgba(45, 39, 39, 0.9);
        }
      }
    }
  }
  .container {
    width: 30%;
    /* margin: auto; */
    display: flex;
    background: #fff;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
 
    
}
// Visualización en moviles
@media (max-width: 600px) {
  .web-certifications {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .panel {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .web-certifications .container {
    display: flex;
    width: 100%;
    background: #fff;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .web-certifications .video-container {
    display: flex;
    width: 100%;
    padding: 10px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
  }
  .web-certifications .video-container .video-container-imgs img {
    border-style: none;
    width: 68px;
    height: 65px;
    border-radius: 5px;
    box-shadow: 0 0 0.5em rgb(45 39 39 / 90%);
  }
  .gallery-cards {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
  .web-certifications .imgs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 5px;
    align-items: center;
    justify-content: center;
    align-content: center;
    justify-items: center;
  }

  .web-certifications .imgs img {
    height: 80px;
    width: 75px;
    transition: opacity 0.3s ease;
    border-radius: 3px;
  }
  .slide-photos {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
.slide-photos {
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  .slide {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }
  .container {
    width: 65%;
    display: flex;
    background: #fff;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}
