.certification-thumbnail {
  height: 50px; /* Altura fija para las miniaturas */
  width: 50px; /* Ancho fijo para las miniaturas */
  margin-right: 10px; /* Espaciado entre las miniaturas */
}

.current-slide .thumbnail-image {
  height: 255px; /* Altura para la imagen actual */
  width: 100%; /* Ancho para la imagen actual */
}