@import '~/src/scss/colors.scss';

.reset-form {
    font-family: Arial, sans-serif;

    &__error {
        font-family: Arial, sans-serif;

        color: $error !important;
        text-align: center;
    }

    &__success {
        font-family: Arial, sans-serif;
        color: $success !important;
        text-align: center;
    }
}

.modalResetPassBodyReset {
    margin-bottom: 28px;
    padding-right: 30px;
    padding-left: 30px;
    padding-top: 10px;
    padding-bottom: 20px;
}

.ui.form {
    font-size: 1rem;
    padding: 20px;
}

.centeredResetPass {
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modalResetPass {
    width: 400px;
    height: 400px;
    background: white;
    color: white;
    z-index: 10;
    border-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalResetPassHeader {
    height: 50px;
    background: white;
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.heading {
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.modalResetPassContent {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
}

.modalResetPassActions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
}

.actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}