//  @import "~/src/scss/index.scss";

.menu-toggle-navbar {
  // top: 5px;
  // position: absolute;
  // font-size: 17px;
}

.logo-container {
  width: 60px;
  text-align: center;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  // align-content: center;
  // flex-wrap: wrap;
  // line-height: 37px;
  cursor: pointer;
  color: white;
}
