//  @import "~/src/scss/index.scss";

.menu-toggle-navbar {
  top: 5px;
  position: absolute;
  font-size: 17px;
}

.logo-container {
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
}
