/* Carrousel.scss */

.carrousel-container {
  position: relative;
  width: 100%;
  height: 500px; /* Ajusta la altura según tus necesidades */
  overflow: hidden;
  filter: grayscale(50%);
}

.slide {
  width: 100%;
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
}

.slide-content {
  color: #ffffff;
  text-align: center;
  /* padding: 20px; */
  background: rgba(0, 0, 0, 0.79);
  height: 45%;
  width: 100%;
  position: absolute;
  bottom: 0;
  h2 {
    color: white;
    text-transform: uppercase;
  }
  .comic-button {
    display: inline-block;
    padding: 5px 30px;
    font-size: 9px;
    right: 7%;
    top: 60%;
    height: 50px;
    position: absolute;
    text-transform: capitalize;
    text-align: center;
    text-decoration: none;
    color: #fff;
    background-color: rgba(132, 49, 49, 0.6196078431);
    border: 2px solid #000;
    border-radius: 10px;
    box-shadow: 5px 5px 0px #000;
    transition: all 0.3s ease;
  }

  .comic-button:hover {
    background-color: #f0a377ad;
    color: #ffffff;
    border: 2px solid #ffffffe0;
    box-shadow: 5px 5px 0px #b6af969c;
  }

  .comic-button:active {
    background-color: #ff5252;
    color: #fff;
    box-shadow: none;
    transform: translateY(4px);
  }
}

.logo-superpuesto {
  width: 80px; /* Ajusta el tamaño del logo según tus necesidades */
  height: 80px;
  margin-right: 10px;
  border-radius: 5px;
}
.container-img-superpuesto {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  width: 90%;
  border-radius: 5px;
  top: 5px;
  bottom: 10px;
  position: absolute;
  .img-superpuesto {
    display: contents;
    height: 70%;
    width: 100%;
    margin-right: 10px;
    border-radius: 5px;
  }

  .card {
    width: 15%;
    height: 40%;
    background-image: linear-gradient(to top, #b8b1a4 0%, #2b1f18 100%);
    padding: 1rem 0.5rem;
    transition: box-shadow 0.3s ease, transform 0.2s ease;
    border-radius: 10px;
  }

  .card-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }

  /*Image*/
  .card-avatar {
    --size: 60px;
    background: linear-gradient(to top, #f1e1c1 0%, #fcbc97 100%);
    width: var(--size);
    height: var(--size);
    border-radius: 50%;
    transition: transform 0.2s ease;
    margin-bottom: 1rem;
  }

  /*Card footer*/
  .card-social {
    transform: translateY(200%);
    display: flex;
    justify-content: space-around;
    width: 100%;
    opacity: 0;
    transition: transform 0.2s ease, opacity 0.2s ease;
  }

  .card-social__item {
    list-style: none;
  }

  .card-social__item svg {
    display: block;
    height: 18px;
    width: 18px;
    fill: #fff;
    cursor: pointer;
    transition: fill 0.2s ease, transform 0.2s ease;
  }

  /*Text*/
  .card-title {
    color: rgba(224, 224, 224, 0.9803921569);
    font-size: 13px;
    font-weight: 600;
    line-height: 2rem;
  }

  .card-subtitle {
    color: #d4dfe5;
    font-size: 10px;
  }

  /*Hover*/
  .card:hover {
    box-shadow: 0 8px 50px #23232333;
  }

  .card:hover .card-info {
    transform: translateY(-5%);
  }

  .card:hover .card-social {
    transform: translateY(100%);
    opacity: 1;
  }

  .card-social__item svg:hover {
    fill: #232323;
  }
}

.title h1 {
  font-size: 25px;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  color: #fff;
  font-size: 13px;
  margin: 10px 0;
  font-family: sans-serif;
  font-weight: 500;
}

h3 {
  color: black;

  font-size: 12px;
  margin: 10px 0;
  font-family: sans-serif;
  font-weight: 500;
}

.prev-button,
.next-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  transition: 0.3s ease-in-out;
  z-index: 1;
}

.prev-button:hover,
.next-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

.prev-button {
  left: 40px;
}

.next-button {
  right: 40px;
}

.indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.indicator {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background: #ccc;
  margin: 0 5px;
  transition: 0.3s ease-in-out;
  cursor: pointer;
}

.indicator.active {
  background: #fff;
}

// carrusel de imagenes en pantalla pequeña
@media (max-width: 768px) {
  .carrousel-container {
    .webmenu-page .home .section {
      width: 100%;
      top: 30px;
      background-color: #fff;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      align-content: center;
      flex-wrap: wrap;
      flex-direction: row;
    }
  }

  .logo-superpuesto {
    width: 30px;
    height: 30px;
    margin-right: 10px;
  }

  .title h1 {
    font-size: 14px;
    margin: 0;
  }

  .slide-content h2 {
    color: white;
    padding: 15px 25px;
    text-transform: uppercase;
  }

  h3 {
    font-size: 14px;
    margin: 0;
  }
}

.img-slide {
  width: 90%;
  height: 95%;
  object-fit: cover;
  border-radius: 5px;
  .img-slide-test {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
  }
  &:hover {
    border: 1px solid #ccc;
  }
}
.decoration-line-slide{
  width: 100%;
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}