.carrousel-container {
  position: relative;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
.slide-content{
  .logo-superpuesto{
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150px;
    height: 150px;
    box-shadow: 0 0 0 20px rgba(0, 0, 0, 0.1);
    transition: 0.5s;
    z-index: 1;
  }
  .title{
    font-size: 30px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
    z-index: 1;
  }
}
  .slide {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 500px;

    padding: 20px;
    background-color: #f2f2f2; /* Color de fondo del slide */
  }

  .slide img {
    width: 100%; /* La imagen se ajustará al ancho del contenedor */
    height: 500px;
    margin-top: 10px;
  }

  .prev-button,
  .next-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 24px;
    background-color: #007bff; /* Color de fondo de los botones */
    color: white;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .prev-button:hover,
  .next-button:hover {
    background-color: #0056b3; /* Cambia el color de fondo al pasar el mouse sobre los botones */
  }

  .prev-button {
    left: 10px;
  }

  .next-button {
    right: 10px;
  }

  .indicators {
    display: flex;
    justify-content: center;
    margin-top: 10px;
  }

  .indicator {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: gray;
    margin: 0 5px;
  }

  .indicator.active {
    background-color: blue; /* Cambia el color para el indicador activo */
  }
}