.section-bg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/jpg/auth-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  // height: auto;
}
.video-container {
  position: relative;
  width: 100%;
  height: auto;
}
.video-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 30%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  z-index: 1;
  .logo-superpuesto {
    position: absolute;
    top: 30%;
    left: 10px;
    max-width: 200px;
    z-index: 1;
    opacity: 0.7;
    background: rgb(255 255 255 / 65%);
    border: groove;
    border-radius: 3px;
    padding: 10px;
  }
}

.news {
  .slide {
    padding: 40px;
    height: 100%;
    .slide-content {
      display: flex;
      color: white;
      padding: 10px;

      background: rgba(202, 187, 187, 0.026);
      border-radius: 16px;
      box-shadow: 0 4px 30px rgba(236, 233, 233, 0.1);
      backdrop-filter: blur(20px);
      -webkit-backdrop-filter: blur(5px);

      .slide-text {
        margin-left: 30px;
        text-align: left;
      }

      img {
        max-height: 400px;
      }

      h2 {
        text-transform: capitalize;
      }

      .slide-subtitle {
        margin: 10px 0px;
        text-decoration: underline;
      }

      .slide-logo {
        position: absolute;
        bottom: 0;
        right: 0;
      }
    }
  }
}
