.section-bg-home {
  align-items: center;
  background-attachment: fixed;
  // background-image: url("../../../assets/jpg/auth-bg.jpg");
  background-position: 50%;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 80%;
  height: 100%;
  padding: 30px;
	

}
