.user-form-register {
  .user-form-register__avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    .avatar-image {
      img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
        border: dashed 1px #000000;
        cursor: pointer; /* Cambio el cursor para indicar que la imagen es clickeable */
      }
    }
  }

  .personal-details-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    .input-register-field {
      width: 45%; /* Disminuyo el ancho para que haya más espacio entre los campos */
      margin-bottom: 20px;
      .MuiFormControl-root {
        width: 100%;
      }
    }
  }

  .input-email-field {
    width: 100%;
    margin-bottom: 20px;
  }

  .select-sede,
  .select-role {
    width: 45%; /* Cambio el ancho para que ambos campos tengan el mismo tamaño */
    margin-bottom: 20px;
  }

  .inline-fields {
    width: 100%;
    display: flex;
    align-items: center;
    .MuiFormControl-root {
      width: 100%;
    }
    .password-icon {
      color: #6b6b6b;
    }
  }

  .MuiFormControl-root {
    width: 100%;
  }

  .MuiButton-root {
    margin-top: 20px; /* Agrego margen superior al botón para separarlo del resto de los campos */
  }
}
