.container-cubo {
    width: 300px;
    /* Ajusta el tamaño del cubo según tus necesidades */
    height: 300px;
    perspective: 1000px;
    /* Crea una perspectiva 3D para el cubo */

    &.rotate {
        .cubo {
            animation: spin 10s infinite linear;
        }
    }

    .cubo {
        width: 100%;
        height: 100%;
        position: relative;
        transform-style: preserve-3d;
        transition: transform 10s;
        /* Controla la velocidad de la rotación del cubo */
        animation: spin 60s infinite linear;
        /* Rotación continua del cubo */


        @keyframes spin {
            0% {
                transform: rotateX(0) rotateY(0);
            }

            100% {
                transform: rotateX(360deg) rotateY(360deg);
            }
        }

        .cara {
            position: absolute;
            width: 200px;
            height: 200px;
            border: 2px solid #fff;
            display: flex;
            align-items: center;
            justify-content: center;
            box-sizing: border-box;
            backface-visibility: hidden;
            /* Para ocultar la cara trasera del cubo */
            overflow: hidden;
            /* Para evitar desbordamientos de contenido */

            img {
                width: 100%;
                height: 100%;
            }
        }

        .superior {
            transform: rotateX(90deg) translateZ(100px);

        }

        .frente {
            transform: translateZ(100px);
            /* top: 100px; No es necesario establecer esta propiedad */
        }

        .derecha {
            transform: rotateY(90deg) translateZ(100px);
            /* left: 100px; No es necesario establecer esta propiedad */
        }

        .izquierda {
            transform: rotateY(-90deg) translateZ(100px);
            /* left: -100px; No es necesario establecer esta propiedad */
        }

        .atras {
            transform: translateZ(-100px);
            /* top: -100px; No es necesario establecer esta propiedad */
        }

        .inferior {
            transform: rotateX(-90deg) translateZ(100px);

        }
    }
}