
.client-loader {
    --cell-size: 100px;
    --cell-spacing: 3px;
    --cells: 4;
    --total-size: calc(var(--cells) * (var(--cell-size) + 2 * var(--cell-spacing)));
    display: flex;
    flex-wrap: wrap;
    width: var(--total-size);
    height: var(--total-size);
    z-index: 999;
}
.client-cell.empty {
    background-color: #1e8f84; /* Color de fondo para celdas vacías */
}


.client-cell {
    flex: 0 0 var(--cell-size);
    margin: var(--cell-spacing);
    box-sizing: border-box;
    border-radius: 4px;
    overflow: hidden;
    z-index: 999;
    animation: 5s ripple ease infinite;
    position: relative; /* Agrega esta línea */
}

.client-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute; /* Agrega esta línea */
    top: 0; /* Agrega esta línea */
    left: 0; /* Agrega esta línea */
    opacity: 0; /* Agrega esta línea */
}

.client-cell.d-1 .client-avatar,
.client-cell.d-2 .client-avatar,
.client-cell.d-3 .client-avatar,
.client-cell.d-4 .client-avatar,
.client-cell.d-5 .client-avatar,
.client-cell.d-6 .client-avatar,
.client-cell.d-7 .client-avatar,
.client-cell.d-8 .client-avatar,
.client-cell.d-9 .client-avatar,
.client-cell.d-10 .client-avatar,
.client-cell.d-11 .client-avatar,
.client-cell.d-12 .client-avatar {
    animation: 5s fade-in ease infinite; 
    /* Agrega esta línea para la animación */
}

.client-cell.d-1 .client-avatar {
    animation-delay: 400ms;
    --cell-color: #bbe4e0;
}

.client-cell.d-2 .client-avatar {
    animation-delay: 800ms;
    --cell-color: #bbe4e0;
}
.client-cell.d-3 .client-avatar {
    animation-delay: 1200ms;
}

.client-cell.d-4 .client-avatar {
    animation-delay: 1600ms;
}
.client-cell.d-5 .client-avatar {
    animation-delay: 2000ms;
}

.client-cell.d-6 .client-avatar {
    animation-delay: 2400ms;
}
.client-cell.d-7 .client-avatar {
    animation-delay: 2800ms;
}

.client-cell.d-8 .client-avatar {
    animation-delay: 3200ms;
}
.client-cell.d-9 .client-avatar {
    animation-delay: 4000ms;
}

.client-cell.d-10 .client-avatar {
    animation-delay: 4400ms;
}
.client-cell.d-11 .client-avatar {
    animation-delay: 4800ms;
}

.client-cell.d-12 .client-avatar {
    animation-delay: 5200ms;
}

@keyframes ripple {
    0% {
        background-color: transparent;
    }

    30% {
        background-color: var(--cell-color);
    }

    60% {
        background-color: transparent;
    }

    100% {
        background-color: transparent;
    }
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
