.section-clients {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 20px;

  .no-select {
    user-select: none;
    text-transform: uppercase;
  }

  .button {
    display: inline-block;
    padding: 0.75em 1.25em;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 20px;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 20px; /* Espaciado entre el texto y el botón */
  }

  .gallery {
    height: auto; /* Ajusta la altura según el contenido */
    display: flex;
    width: 100%; /* Ocupa todo el ancho del contenedor padre */
    flex-direction: column; /* Alinea los elementos verticalmente en dispositivos móviles */
    /* background-image: url("../../../assets/clients/mapa.jpg"); */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  .gallery .slide {
    width: 25%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
  }

  .gallery-cards .panel {
    display: flex;
  }

  .gallery-cards .content {
    text-align: center;
    width: 100%;
  }

  .gallery-cards .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  .column {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }

  .column-item {
    width: calc(
      50% - 20px
    ); /* Para dos clientes por fila en pantallas más pequeñas */
    margin-bottom: 20px; /* Espacio entre las filas */
  }

  .column-item img {
    width: 70%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
}
@media screen and (min-width: 768px) {
  .column-item {
    width: calc(
      33.3333% - 20px
    ); /* Para tres clientes por fila en pantallas más grandes */
  }

  .column-item img {
    width: 100%;
  }

  .gallery .slide {
    width: 33.3333%;
  }

  .gallery-cards .images {
    justify-content: space-between;
  }
}

.testimonios-container-section {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 1440 320'%3E%3Cpath fill='%23273036' fill-opacity='1' d='M0,0L40,42.7C80,85,160,171,240,186.7C320,203,400,149,480,149.3C560,149,640,203,720,229.3C800,256,880,256,960,240C1040,224,1120,192,1200,197.3C1280,203,1360,245,1400,266.7L1440,288L1440,0L1400,0C1360,0,1280,0,1200,0C1120,0,1040,0,960,0C880,0,800,0,720,0C640,0,560,0,480,0C400,0,320,0,240,0C160,0,80,0,40,0L0,0Z'%3E%3C/path%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  width: 100%;
  height: auto;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;

  h2 {
    padding-top: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    position: relative;
    right: 30px;
  }
}

.testimonios-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}

.e-card.playing {
  width: 200px;
  margin: 10px;
  padding: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 0.4);
  transition: box-shadow 0.3s ease;
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.2), 0 0 0 0 rgba(0, 0, 0, 0.19);
  transition: 0.3s;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;

  &:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    filter: invert(0.1);
  }

  .infotop {
    text-align: center;

    .client-avatar {
      width: 80px;
      height: 80px;
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 10px;
      transition: filter 0.3s ease;

      filter: grayscale(100%);

      &:hover {
        filter: grayscale(0%);
      }
    }

    h2 {
      color: black;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 500;
      margin: 5px 0;
      text-transform: capitalize;
    }

    .client-avatar-testimonie {
      object-fit: cover;
      border-radius: 50%;
      margin-bottom: 10px;
      transition: filter 0.3s ease;

      &:hover {
        filter: grayscale(0%);
      }
    }

    p {
      font-size: 12px;
      color: #333;
      margin-bottom: 10px;
    }

    .star-testimonie {
      .star {
        width: 12px;
        height: 12px;
        margin-right: 5px;
        margin-top: 5px;
      }
    }
  }
}

.column-item {
  width: calc(50% - 20px);
  margin-bottom: 20px;

  img {
    width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 10px;
  }
}

.name {
  font-size: 16px; /* Aumento del tamaño de la fuente */
  font-weight: 500; /* Ajuste del peso de la fuente */
  margin-bottom: 10px; /* Espaciado inferior */
  text-transform: capitalize; /* Texto en mayúsculas y minúsculas */
}

.client-avatar {
  width: 100px; /* Tamaño fijo para las imágenes de avatar */
  height: 100px;
  object-fit: cover;
  border-radius: 50%; /* Forma circular para los avatares */
  margin-bottom: 10px; /* Espaciado inferior */
  transition: filter 0.3s ease;

  filter: grayscale(100%);
}

.client-avatar:hover {
  filter: grayscale(0%); /* Elimina la escala de grises al pasar el ratón */
}

.star-testimonie {
  .star {
    width: 10px; /* Tamaño aumentado de las estrellas */
    height: 10px;
    margin-right: 5px;
    margin-top: 5px;
  }
}

/* Diseño para dispositivos móviles */
@media (max-width: 768px) {
  .testimonios-container {
    width: 90%;
    display: flex;
    flex-direction: column;
  }

  .name {
    font-size: 14px; /* Tamaño de fuente reducido */
  }

  .client-avatar {
    width: 80px; /* Tamaño reducido para dispositivos móviles */
    height: 80px;
  }
}

.no-select-g {
  -webkit-user-select: none;
  user-select: none;
  font-size: 30px;
  text-transform: uppercase;
}

.title-service {
  h1 {
    font-family: Arial, Verdana, Sans-serif;
    left: 50%;
    text-transform: uppercase;
    padding-top: 10px;
  }

  h1 strong {
    font-family: Arial Black, Verdana, Sans-serif;
  }
}
.decoration-line {
  width: 100px; /* Adjust the width as needed */
  height: 2px; /* Adjust the height as needed */
  background-color: #000; /* Adjust the color as needed */
  margin: 10px 0; /* Adjust the margin as needed */
}

.container-foundation-testimonies {
  width: 100%;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.decoration-line-dos {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  /* left: 20px; */
  height: 2px;
  background-color: #000;
  margin: 10px 0;
  align-content: center;
  flex-direction: row;
  right: 12%;
  position: absolute;
  flex-wrap: wrap;
}
