.web-clients-container {
  display: flex; /* Utiliza Flexbox para distribuir los elementos horizontalmente */
  justify-content: space-between; /* Espacio uniforme entre los elementos */
  align-items: flex-start; /* Alinea los elementos en la parte superior */
}

.mapa {
  flex: 1; /* Hace que el mapa ocupe todo el espacio disponible en el contenedor */
}

.client-card {
  flex: 1; /* Hace que la tarjeta de cliente ocupe todo el espacio disponible en el contenedor */
  margin-left: 20px; /* Agrega un margen izquierdo para separar los elementos */
}
