.address-form {
  background-color: rgb(235, 235, 235);
  margin-left: 0;

  .dropdown-address {
    margin-left: 0;
    padding: 20px;
  }
}

.address-form-hidde {
  padding: 20px;
  margin-left: 0;
  &.address-form {
    padding: 20px;
    margin-left: 0;
    .dropdown-address {
      margin-left: 0;
    }
  }
}
