@import "./colors.scss";

.topbar-wrapper {
  position: relative;
  height: 50px;
}

.topbar-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: rgb(0 0 0 / 21%); /* Utiliza rgba para definir la opacidad */
  height: 50px;
  width: 100%;
  z-index: 2;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: row;
  backdrop-filter: blur(20px); /* Ajusta el valor de blur según tu preferencia */
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}

.ui.menu.fluid > .item, .ui.vertical.menu.fluid > .item {
  display: flex;
  color: #b0afaf;
  /* padding: 0.7em 1.14285714em; */
  position: relative;
  width: 100%;
  align-content: center;
  align-items: center;
  flex-direction: row;
  justify-content: flex-start;
}
.ui.menu.fluid,
.ui.vertical.menu.fluid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  border-radius: 0;
  // background-color: rgba(5, 47, 60, 0.208);
  padding: 0 7px 15px !important;
  flex-wrap: wrap;
  align-content: center;
    &:hover,
    &.active {
      width: 100%;
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0px;
        background-color: #643131;
      }
    }
  > .item {
    display: flex;
    color: $text-dark;
    padding: 0.7em 1.14285714em;
    position: relative;

    &:first-child::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 4px;
      height: 100%;
      background-color: #171717;
    }

    &.active {
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 3px;
        height: 100%;
        background-color: #000000;
      }
    }

    .ui.vertical.menu.fluid > .item {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: nowrap;
    }

    > i {
      font-size: inherit;
      margin: 0 !important;
      margin-right: 10px !important;
    }
  }
}
