@import './colors.scss';

.topbar-wrapper {
  position: relative;
  height: 50px;
}

.topbar {
  position: fixed; // Mantener la posición fija
  top: 0; // Ajustar según sea necesario
  left: 0; // Ajustar según sea necesario
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #0c3656;
  height: 50px;
  width: 100%; // Ajustar según sea necesario
  z-index: 2;

}

.ui.menu.fluid,
.ui.vertical.menu.fluid {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: nowrap;
  flex-direction: column;
  color: #000;
  padding: 0 7px 15px !important;

  a {
    width: 100%;
    position: relative;

    &:hover,
    &.active {
      width: 100%;

      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        bottom: 0;
        width: 0px;
        background-color: #643131;
      }
    }
  }

  >.item {
    display: flex;
    color: $text-dark;
    padding: 0.7em 1.14285714em;
    position: relative;

    &:first-child::before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 4px;
      height: 100%;
      background-color: #171717;
    }

    &.active {
      &::before,
      &::after {
        content: "";
        position: absolute;
        left: 0;
        top: 0;
        width: 3px;
        height: 100%;
        background-color: #000000;
      }
    }

    .ui.vertical.menu.fluid>.item {
      display: flex;
      align-items: flex-start;
      justify-content: center;
      flex-wrap: nowrap;
    }

    >i {
      font-size: inherit;
      margin: 0 !important;
      margin-right: 10px !important;
    }
  }
}