.title-mnto-andino {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  color: black;
}
.projects-section {
  display: flex;
  width: 100%;

  .title-mnto-andino .smaller-text {
    font-size: 18px;
    display: block;
  }
  .section-project-list {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
    .project-list {
      background-color: aquamarine;
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
      flex-direction: column;
      .national img {
        width: 300px;
      }
      .international img {
        width: 300px;
      }
    }
  }
  .collage-project-list {
    width: 50%;
    background-color: blue;
  }
}
