.projects-section {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // background-color: #000000;
  border-radius: 10px;
  margin-bottom: 20px;
  .no-select {
    user-select: none;
    text-transform: uppercase;
  }
  h2 {
    color: rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
    font-size: 30px;
    span{
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
  .button {
    display: inline-block;
    padding: 0.75em 1.25em;
    border: 1px solid #000000;
    border-radius: 4px;
    font-size: 1em;
    color: #000000;
    text-decoration: none;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 20px; /* Espaciado entre el texto y el botón */
  }

  .gallery {
    height: auto; /* Ajusta la altura según el contenido */
    display: flex;
    width: 100%; /* Ocupa todo el ancho del contenedor padre */
    flex-direction: column; /* Alinea los elementos verticalmente en dispositivos móviles */
    // background-image: url("../../../assets/clients/mapa.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
  }

  .gallery .slide {
    width: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    align-content: center;
  }

  .gallery-cards .panel {
    display: flex;
  }

  .gallery-cards .content {
    // background-color: rgb(230 230 230 / 84%);
    text-align: center;
    width: 100%;
  }

  .gallery-cards .images {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    box-sizing: border-box;
    width: 100%;
    flex-direction: row;
    align-content: center;
    align-items: center;
  }
  .myCard {
    background-color: transparent;
    width: 250px;
    height: 250px;
    margin: 5px;
    perspective: 1000px;
  }

  .title {
    font-size: 1.5em;
    font-weight: 900;
    text-align: center;
    margin: 0;
  }

  .innerCard {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    cursor: pointer;
  }

  .myCard:hover .innerCard {
    transform: rotateY(180deg);
  }

  .frontSide,
  .backSide {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 2px solid #e6b74c6b;
    border-radius: 5px;
    color: white;
    box-shadow: 0 0 0.3em rgba(255, 255, 255, 0.5);
    font-weight: 700;
  }

  .frontSide,
  .frontSide::before {
    background-image: linear-gradient(to right, #d6d6d6, rgb(246 246 246 / 81%));
  }
  .frontSide {
    img {
      width: 90%;
      height: auto;
    }
    p {
      color: black;
      text-align: center;
      text-transform: uppercase;
      padding: 10px;
      font-size: 12px;
      font-weight: 500;
      font-family: inherit;
    }
  }
  .backSide {
    transform: rotateY(180deg);
  }

  .frontSide::before,
  .backSide::before {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    content: "";
    width: 110%;
    height: 110%;
    position: absolute;
    z-index: -1;
    border-radius: 1em;
    filter: blur(20px);
    animation: animate 5s linear infinite;
  }

  @keyframes animate {
    0% {
      opacity: 0.3;
    }

    80% {
      opacity: 1;
    }

    100% {
      opacity: 0.3;
    }
  }
}

// diseño para moviles
@media (max-width: 768px) {
  .projects-section .gallery-cards .content {
    display: flex;

    color: #000000;
    text-align: center;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
    margin-bottom: 20px;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}

.images {
  .container {
    .loader {
      border-top: 8px solid hotpink;
      border-bottom: 8px solid #f55951;
      border-left: 8px solid #3a9efd;
      border-right: 8px solid #1fff7c;
      border-radius: 100%;
      height: 100px;
      width: 100px;
      animation: looper 5s infinite ease-in-out;
    }

    @keyframes looper {
      0% {
        border-radius: 100% 100% 100% 100%;
        border-color: hotpink #3a9efd #1fff7c #f55951;
      }

      10% {
        border-radius: 0% 100% 0% 0%;
        border-color: #f55951;
        transform: rotate(150deg);
      }

      20% {
        border-radius: 0% 0% 0% 0%;
        border-color: #3a9efd;
      }

      30% {
        border-radius: 0% 0% 0% 0%;
        border-color: #1fff7c;
      }

      40% {
        border-radius: 0% 0% 0% 0%;
        border-color: #3a9efd;
      }

      50% {
        border-radius: 100%;
        border-color: #f55951;
      }

      90% {
        border-radius: 100%;
        transform: rotate(360deg);
        border-style: dashed;
      }

      100% {
        transform: rotate(0deg);
        border-radius: 100% 100% 100% 100%;
        border-color: hotpink #3a9efd #1fff7c #f55951;
      }
    }
  }
}
