@import "~/src/scss/colors.scss";

.recovery-form {
    font-family: Arial, sans-serif;

    &__error {
        font-family: Arial, sans-serif;

        color: $error !important;
        text-align: center;
    }

    &__success {
        font-family: Arial, sans-serif;
        color: $success !important;
        text-align: center;
    }
}


.ui.modal>.header:not(.ui) {
    font-size: 1.2rem;
    line-height: 2.285714em;
    font-weight: 600;
    background-color: #2270ab;
    color: aliceblue;
}

.modalBodyRecovery {
    display: block;
    width: 100%;
    font-size: 1em;
    line-height: 1.4;
    /* padding: 1.5rem; */
    background: #fff;

}


.centered {
    position: fixed;
    width: 500px;
    height: 260px;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.modalRecovery {

    background: white;
    color: white;
    border-radius: 8px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
}

.modalHeader {
    height: 50px;
    background: white;
    text-align: center;
    margin-bottom: 10px;
    overflow: hidden;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
}

.heading {
    margin: 0;
    padding: 10px;
    color: #2c3e50;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
}

.modalContent {
    padding: 10px;
    font-size: 14px;
    color: #2c3e50;
    text-align: center;
}

.modalActions {
    position: absolute;
    bottom: 2px;
    margin-bottom: 10px;
    width: 100%;
}

.actionsContainer {
    display: flex;
    justify-content: space-around;
    align-items: center;
}