.cubeContainer {
  bottom: 160px;
  right: 100px;
  position: absolute;
  z-index: 999;
  .cube {
    width: 70px;
    height: 70px;
    transform-style: preserve-3d;
    animation: spin 8s infinite linear;
    position: fixed;
    div {
      position: absolute;
      width: 70px;
      height: 70px;
      opacity: 1.1;
    }
    .front {
      transform: translateZ(35px);
      background: linear-gradient(45deg, #c8a1a270, #2264a2aa);
    }

    .back {
      transform: translateZ(-35px);
      background: linear-gradient(45deg, #c8a1a270, #2264a2aa);
    }

    .top {
      transform: rotateX(90deg) translateZ(35px);
      background: linear-gradient(45deg, #c8a1a270, #2264a2aa);
    }

    .bottom {
      transform: rotateX(90deg) translateZ(-35px);
      background: linear-gradient(45deg, #c8a1a270, #2264a2aa);
    }

    .left {
      transform: rotateY(90deg) translateZ(35px);
      background: linear-gradient(45deg, #c8a1a270, #2264a2aa);
    }

    .right {
      transform: rotateY(90deg) translateZ(-35px);
      background: linear-gradient(45deg, #c8a1a270, #2264a2aa);
    }
  }
}
.options {
  display: none;
  position: absolute;
  transform: translate(-35%, -130%);

  .option {
    background-color: rgba(255, 255, 255, 0.818);

    border-radius: 3px;
    .btn {
      width: 170px;
      border-radius: 3px;
      margin-top: 2px;
      height: 30px;
      padding-bottom: 5px;
      color: #000000;
      cursor: pointer;
      border-bottom: 2px #c93f3fa6 solid;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .option:hover {
    transform: scale(1.1);
    background-color: rgba(205, 89, 99, 0.788);
    border-bottom: 2px #f9f9f9 solid;

    img {
      width: 30px;
      padding-right: 3px;
    }
  }
}

@keyframes spin {
  0% {
    transform: rotateX(0deg) rotateY(0deg);
  }

  100% {
    transform: rotateX(360deg) rotateY(360deg);
  }
}
