/* PaginationGallery.scss */
.container-photos {
  display: flex;
  width: 80%;
  margin: auto;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
.gallery-photos-fundations {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.gallery-photos-fundations__item {
  width: calc(
    20% - 20px
  ); /* Adjust the width to make 5 items per row with some spacing */
  height: 100px; /* Adjust the height as needed */
  margin: 5px;
  overflow: hidden;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    filter: brightness(0.7) grayscale(0.5);
    transition: all 0.3s ease;
  }

  &:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    filter: brightness(1) grayscale(0);
  }
}

.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;

  button {
    padding: 7px 9px;
    margin: 1px;
    color: #000000;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s ease;

    &:hover {
      background-color: #2980b9;
    }

    &.active {
      background-color: #b4babe;
      color: black;
    }
  }
}

//  Estilos para móviles
@media (max-width: 768px) {
  .container-photos {
    width: 85%;
  }
  .gallery-photos-fundations__item {
    width: calc(35% - 20px);
  }
}
