.slider-container-fundation {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.5s ease-in-out;
  flex-direction: column;
  align-content: center;
  flex-wrap: wrap;
  padding-left: 20px;
}

.text-container-fundation {
  width: "25%";
  display: "flex";
  align-items: "center";
  justify-content: "center";
  transition: "0.5s ease-in-out";
  flex-direction: "column";
  align-content: "center";
  flex-wrap: "wrap";
  padding-left: "20px";
}

// Vista desde ceular
@media (max-width: 768px) {
  .slider-container-fundation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 20px;
  }

  .text-container-fundation {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.5s ease-in-out;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
    padding-left: 20px;
  }
  .text-container-fundation {
    h2 {
      padding: 0;
    }
    h3 {
      font-size: 15px;
    }
    p {
      color: aliceblue;
    }
  }
}
