.mapa-section {
  .chips-container {
    display: flex;
    flex-wrap: wrap;
    gap: 2px;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: row;
  }

  .chip {
    
    color: #000;
    font-size: 11px;
    padding: -2px 8px;
    border-radius: 16px;
    cursor: pointer;
    .css-6od3lo-MuiChip-label {
      overflow: hidden;
      font-size: 11px;
      text-overflow: ellipsis;
      padding-left: 12px;
      padding-right: 12px;
      white-space: nowrap;
      color: black;
    }
  }

  .chip:hover {
    background-color: rgba(241, 241, 241, 0.51);; /* Cambia el color de fondo al pasar el mouse sobre el chip */
  }
  .card-map {
    width: 100%;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border-radius: 8px;
  }
  .card {
    height: auto;
    width: 100%;
    margin: 0 auto;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    margin-bottom: 5px;
    .card-body {
      padding: 10px;
    }
  }

  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Cambia la sombra al pasar el mouse sobre el card */
  }

  .card-title {
    color: rgba(0, 0, 0, 0.87);
    text-transform: uppercase;
    font-size: 12px;
    margin-bottom: 0;
    padding: 10px;
  }

  .list-group-item {
    font-size: 1rem; /* Tamaño del texto de la lista */
    border: none; /* Elimina el borde de los elementos de la lista */
  }

  /* Estilo para la lista de departamentos */
  .list-group {
    margin-bottom: 0; /* Elimina el margen inferior de la lista */
  }

  @media (max-width: 768px) {
    .mapa {
      display: flex;
      flex-direction: column;
      align-items: center;
      z-index: 99999;
    }

    svg {
      width: 100%;
    }
  }
}
