/* Estilos base */
.mensajeDepartamento {
  position: absolute;
  top: 10%;
  transform: translateX(0%)translateY(0%);
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 14px;
  display: inline-block;
}

.container-con-margin {
  margin: 0; /* Elimina todos los márgenes */
  padding: 0; /* Elimina el espacio de relleno */
}
/* Media Queries para dispositivos pequeños */
@media (max-width: 768px) {
  .mapa {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .mensajeDepartamento {
    // position: static;
    transform: none;
    margin-top: 20px;
    margin-bottom: 20px;
    right: auto;
    left: auto;
  }

  svg {
    width: 100%;
  }
}

.icono-ubicacion {
  margin-right: 5px; /* Espacio entre el icono y el nombre de la ciudad */
  font-size: 16px; /* Tamaño del icono */
  color: #ffffff; /* Color del icono */
}
