.mapa-section {
  .card-map{
    width: 100%;
    height: auto;
    padding: 16px;
    margin: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
    border: 1px solid #ccc;
    border-radius: 8px;
  }
  .card {
    width: 300px;
    height: auto;
    margin: 0 auto;
    background-color: #6da4a280;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
  }

  .card:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Cambia la sombra al pasar el mouse sobre el card */
  }

  .card-title {
    font-size: 1.25rem; /* Tamaño del título */
    margin-bottom: 1rem; /* Margen inferior del título */
  }

  .list-group-item {
    font-size: 1rem; /* Tamaño del texto de la lista */
    border: none; /* Elimina el borde de los elementos de la lista */
  }

  /* Estilo para la lista de departamentos */
  .list-group {
    margin-bottom: 0; /* Elimina el margen inferior de la lista */
  }

  @media (max-width: 768px) {
    .mapa {
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    svg {
      width: 100%;
    }
  }
}
