//  @import "~/src/scss/index.scss";
@import "../scss/header";

.admin-layout {
  display: flex;
  width: 100%;
  min-height: 100vh;
  max-height: 100vh;
  background-color: rgba(255, 255, 255, 0.985);
}

.ui.menu {
  display: flex;
  font-family: Lato, "Helvetica Neue", Arial, Helvetica, sans-serif;
  background: #fff;
  font-weight: 400;
  border: none;
  min-height: 2.85714286em;
}

.ui.vertical.icon.menu .item {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-size: 12px;
  color: black;

  > .icon:not(.dropdown) {
    display: flex;
    align-items: center;
    opacity: 0.7;
    margin: 0 auto;
    float: none;
    color: #032333;
  }

  &.active {
    background-color: rgb(229 225 225 / 70%);
    border-radius: 0 3px;
    // color: currentcolor;
    font-weight: 560;
  }

  &.active > .icon {
    color: #20678a;
  }

  &:hover {
    color: #20678a;
    cursor: pointer !important;
    background-color: rgb(227, 227, 227);
  }

  &.active:hover {
    color: #20678a;
  }
}
.ui.vertical.icon.menu .item.active {
 
  opacity: 0.7;
  float: none;
 
}

// estilos para celular
@media (max-width: 640px) {
  .ui.vertical.icon.menu .item {
    display: flex;
    align-items: center;
    opacity: 0.7;
    margin: 0 auto;
    float: none;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    flex-wrap: wrap;
  }
}
