.sedes-page {
    margin-top: 10px;
    padding: 20px;
    background-color: #fff;
    border: 0.5px solid #ececec;
    border-radius: 3px;

    .custom-button {
        background-color: #ff4081;
        color: #fff;
        border: none;
        font-weight: bold;
        padding: 10px 20px;
        border-radius: 4px;
        transition: background-color 0.3s ease;

        &:hover {
            background-color: #e91e63;
        }
    }
}

.modal-create-sedes .modal-dialog {
    width: 800px !important;

    /* Ajusta el valor según tus necesidades */
    @media (max-width: 768px) {
        .modal-create-sedes .modal-dialog {
            width: 90%;
            /* Ajusta el valor según tus necesidades */
        }
    }
}